CONVEX_DEPLOYMENT=""
CONVEX_URL=""
NEXT_PUBLIC_CONVEX_URL=""
CONVEX_DEPLOY_KEY=""
VISITOR_COUNTER_ENV=""
GITHUB_TOKEN=""
LASTFM_API_KEY=""
LASTFM_USERNAME=""
MASTODON_PROFILE_URL="https://mastodon.stickbear.me/@Orinks/"
