CONVEX_DEPLOYMENT=""
CONVEX_URL=""
NEXT_PUBLIC_CONVEX_URL=""
CONVEX_DEPLOY_KEY=""
VISITOR_COUNTER_ENV=""
GITHUB_TOKEN=""
LASTFM_API_KEY=""
LASTFM_USERNAME=""
MASTODON_PROFILE_URL="https://mastodon.stickbear.me/@Orinks/"
NEXT_PUBLIC_VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
VAPID_SUBJECT="mailto:notifications@orinks.net"
BUILD_NOTIFICATION_TOKEN=""
FEED_CLIPS_ENABLED="false"
FEED_CLIPS_CONTRACT_CONFIRMED="false"
FEED_CLIPS_ALLOWED_TERRITORIES=""
FEED_CLIPS_API_BASE=""
FEED_CLIPS_API_KEY=""
FEED_CLIPS_SIGNING_SECRET=""
